<div class="container" class="posts">
  <h1>投稿一覧</h1>
<div class="post">
  <% @blogs.each do |blog| %>
  <div class="title">
    <h3>タイトル</h3>
    <%= blog.title %>
  </div>
  <div class="content">
    <h3>内容</h3>
    <%= blog.content %><br>
  </div>
    <% if blog.uid == current_user.id %>
    <%= link_to '編集', edit_blog_path(blog) %><br>
    <%= link_to '削除', blog, method: :delete, data: { confirm: '本当に削除して良いですか？' } %>
    <% end %>
    <% end %>
 </div>
</div>
