<div class="container">
  <h3>フォロワーリスト</h3>
  <% @user.followers.each do |user| %>
    <%= link_to(user.name,"/users/#{user.id}") %>
    <img src=<%= @user.image %> class = "icon_image"><br>
  <% end %>
</div>
