<div class="container">
  <h3>フォローリスト</h3>
  <% @user.all_following.each do |user| %>
      <%= link_to(user.name,"/users/#{user.id}") %>
      <img src=<%= @user.image %> class = "icon_image"><br>
  <% end %>
</div>
