<div class="container">
  <h1>Golftalk</h1>
  <p>ゴルフ好きだけのSNSアプリです。ゴルフに関することを投稿しましょう。</p>
  <div class="user-login">
    <%= link_to '簡単ログイン', homes_guest_sign_in_path, class: "btn btn-info btn-lg w-50y", method: :post %><br>
  </div>
  <div class="user-login">
    <%= link_to 'ログイン','/users/sign_in', class: "btn btn-info btn-lg w-50y" %><br>
  </div>
  <div class="user-login">
    <a href ="/users/auth/facebook">
      <button type="button" name="button" class="btn btn-info btn-lg w-50y">Facebookログイン</button>
    </a>
  </div>  
</div>
