<div class="Top-page">
  <h1>Golftalk</h1>
  <a class="btn btn-lg btn-block btn-primary" href="/users/sign_in" role="button">ログイン</a>
  <a class="btn btn-lg btn-block btn-primary" href="/users/sign_up" role="button">新規登録</a>
  <a class="btn btn-lg btn-block btn-primary" href="/users/auth/facebook" role="button">Facebookログイン</a>
</div>
