<div class="container">
  <h2>Golftalk</h2>
  <h4>あなたのゴルフライフをもっと豊かに</h4>
<div class="row">
  <div class="col-md-4">
    <p>ゴルフに関する記事投稿ができます。</p>
    <%= fa_icon("edit 4x") %>
  </div>
  <div class="col-md-4">
    <p>気になるゴルファーをフォローできます。</p>
    <%= fa_icon("handshake-o 4x") %>
  </div>
  <div class="col-md-4">
    <p>ゴルフニュースをチェックできます。</p>
    <%= fa_icon("newspaper-o 4x") %>
  </div>
</div>
</div>
