<div class="container">
  <div class="top">
    <h2 class="withgol">ウィズゴル</h2>
    <p>ウィズゴルはゴルフ専用SNSです。あなたのゴルフライフをより充実させます。</p>
  </div>
<div class="row">
  <h3 class="for-golfer">ウィズゴルのサービス内容</h3>
  <div class="col-md-4">
    <p>ゴルフに関する画像投稿ができます。</p>
    <%= fa_icon("edit 4x") %>
  </div>
  <div class="col-md-4">
    <p>自分のゴルフスコアを管理できます。</p>
    <%= fa_icon("tasks 4x") %>
  </div>
  <div class="col-md-4">
    <p>他のゴルファーとDMができます。</p>
    <%= fa_icon("commenting-o 4x") %>
  </div>
  <div class="col-md-4">
    <p>気になるゴルファーをフォローできます。</p>
    <%= fa_icon("handshake-o 4x") %>
  </div>
</div>
</div>
