<div class="container">
  <h1>全てのユーザー</h1>
    <% @users.each do |user| %>
      <div class="user_list">
       <%= link_to user.name, user_path(user.id) %><br>
       <img src="<%= user.image %>" class="icon_image"><br>
      </div>
    <% end %>
</div>
