<div class="container">
  <div class="user-list">
    <h3>全てのユーザー</h3>
      <% @users.each do |user| %>
        <div class="user_list">
         <%= link_to user.name, user_path(user.id), class: "btn btn-success"%><br>
         <img src="<%= user.image %>" class="icon_image"><br>
        </div>
      <% end %>
      <%= paginate @users %>
  </div>
</div>
