.container {
  max-width: 900px;
  min-width: 350px;
  padding-right: 0px;
  padding-left: 0px;
}

.post {
  margin-top: 50px;
}

.title {
  margin-bottom: 50px;
  border-top: 3px solid #DDDDDD;
}

.title h4 {
  margin-left: 140px;
}

.blog_show {
  text-align: center;
}

.content {
  margin-bottom: 40px;
  margin-top: 40px;
  // margin-left: 70px;

}


h3 {
  margin: 40px 0;
}

.content p {
  font-weight: bold;
  width: 240px;
  margin: auto;
}


.blog-form {
  margin-left: auto;
}

input[type="text"] {
        width: 300px;
        height: 40px;
}


div.field textarea {
  width: 500px; height: 150px;
}

.actions {
  margin-top: 30px;
}


.w-100px {
  width: 100px !important;
}

.image-upload {
  display:inline-block;
}

// 770px以下のレスポンシブ

@media screen and (max-width:770) {
}
@media screen and (max-width:767px) {
  div.field textarea { width: 280px; height: 150px; }
  input[type="text"] {
          width: 300px;
          height: 30px;
  }
   .container {
    max-width: 350px;
    padding-right: 0px;
    padding-left: 0px;
  }
}


.blog_image {
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin-top: 30px;
}

.comment {
  margin-top: 70px;
}

.back_to_blog_index{
  margin-top: 50px;
}

.blog-list {
  text-align: center;
}

.blog-new {
  text-align: center;
}
