div.field textarea {
  width: 300px; height: 60px;
}

.field {
  width: 300px; height: 60px;
  margin: auto;
}

.score_management {
  margin: auto;
  border:solid 1px #000;
  width: 300px;
}

.add_score {
  margin-top: 70px;
}
