.icon_image {
  width: 200px;
  height: 200px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

// ログインフォーム

 .login_form {
   text-align: center;
 }



 // 新規登録フォーム

 .container {
   text-align: center;
 }

.form-group {
  width: 300px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

.btn-submit {
  padding-top: 20px;
}

.singup-title, .singin-title{
  width: 300px;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

// トップページ

.btn {
  width: 200px;
}

.Facebook-btn {
  margin-bottom:70px;
}

.user-login {
  margin-top: 30px;
}

//ユーザー一覧

.user_list {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 3px solid #DDDDDD;
}
