.icon_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin: 40px 0;
}

.icon_image_blog {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  object-fit: cover;
}

.icon_image_mini {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin: 40px 0;
}

.bloger {
 text-align: left;
}

// ログインフォーム

 .login_form {
   text-align: center;
 }



 // 新規登録フォーム

 .container {
   text-align: center;
   padding-right: 0px;
   padding-left: 0px;
 }

.form-group {
  width: 300px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

.btn-submit {
  padding-top: 20px;
}

.singup-title, .singin-title{
  width: 300px;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

// トップページ

.btn {
  width: 200px;
}

.Facebook-btn {
  margin-bottom:70px;
}

.user-login {
  margin-top: 30px;
}

.container h2 {
  margin-bottom: 30px;
}

.container h4 {
  margin-bottom: 40px;
}


//ユーザー一覧

.user_list {
  border-top: 3px solid #DDDDDD;
}
.user-list {
  text-align: center;
}

.user-show {
  text-align: center;
}
