.icon_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin: 40px 0;
}

.icon_image_blog {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  object-fit: cover;
}

.icon_image_mini {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin: 40px 0;
}

.bloger {
 text-align: left;
}

// ログインフォーム

 .login_form {
   text-align: center;
 }



 // 新規登録フォーム

 .container {
   text-align: center;
   padding-right: 0px;
   padding-left: 0px;
 }

.form-group {
  width: 300px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

.btn-submit {
  padding-top: 20px;
}

.singup-title, .singin-title{
  width: 300px;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

// トップページ

.btn {
  width: 200px;
}

.Facebook-btn {
  margin-bottom:70px;
}

.user-login {
  margin-top: 30px;
}

.container h2 {
  margin-bottom: 30px;
}

.container h4 {
  margin-bottom: 40px;
}


//ユーザー一覧

.user_list {
  border-top: 3px solid #DDDDDD;
}
.user-list {
  text-align: center;
}

.user-show {
  text-align: center;
}

.withgol {
  font-family: 'arial unicode ms';
  color: #33CC33;
  padding-top: 70px;
  font-weight: bold;
  font-size: 50px;
}

.top {
  background-image: url("/labor-day-2722962_640.jpg");
  background-size: cover;
  height: 300px;
}

.top p {
  color: white;
  font-size: 20px;
}


.for-golfer {
  margin:60px 0;
  color: #33CC33;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Century Gothic';
}

@media screen and (max-width:767px) {
  .withgol {
    font-size: 40px;
    padding-top: 40px;
  }

  .top {
    height: 230px;
  }

  .for-golfer {
    font-size: 20px;
    color: #33CC33;
    font-weight: bold;
    font-family: 'Century Gothic';
  }

  .top p {
    color: white;
    font-size: 19px;
    font-family: 'Ludica Sans Unicode';
    font-weight: bold;
  }
}

.col-md-4 {
  margin: 20px 0 40px 0;
}
